@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply w-full max-w-6xl mx-auto;
  }
}

@layer components {
  .hero-main {
    background: #0a1f33;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
