@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-main {
    background-image: url("../public/back.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
